/* .top-bar {
    margin-bottom: 20px;
  } */
  .card
  {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
  }
  .square {
    width: 200px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: blue;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .number {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  
  .title {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  button.btn-danger {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  